/* Стили для подсказок */
#brandSuggestions, #modelSuggestions {
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#brandSuggestions div, #modelSuggestions div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#brandSuggestions div:hover, #modelSuggestions div:hover {
    background-color: #f9f9f9;
}

/* Стили для полей ввода */
#brandInput, #modelInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для кнопки поиска */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
